stepFunctions/stateMachines.yml
koken2yapawa:
  name: KokenToYapawa
  definition:
    Comment: "Import albums and photos from a Koken Site to Yapawa"
    StartAt: getTree
    States:

      getTree:
        Type: Task
        Resource:
          Fn::GetAtt: [GetTree,Arn]
        ResultPath: "$.results"
        Next: importAlbums

      importAlbums:
        Type: Task
        Resource:
          Fn::GetAtt: [ImportAlbums,Arn]
        ResultPath: null
        Next: listImages-All

      listImages-All:
        Type: Map
        ItemsPath: $.results.albums
        ResultPath: null
        Parameters:
          albumId.$: $$.Map.Item.Value
          bucket.$: $.bucket
          domain.$: $.domain
          photoTable.$: $.photoTable
          albumTable.$: $.albumTable
          encryptionKey.$: $.encryptionKey
        MaxConcurrency: 10
        Next: listCollections-All

        Iterator:
          StartAt: listPhotos
          States:

            listPhotos:
              Type: Task
              Resource:
                Fn::GetAtt: [ListPhotos,Arn]
              ResultPath: null
              Next: importPhotos

            importPhotos:
              Type: Task
              ResultPath: null
              Resource:
                Fn::GetAtt: [ImportPhotos,Arn]
              Next: setAlbumCovers

            setAlbumCovers:
              Type: Task
              Resource:
                Fn::GetAtt: [SetCovers,Arn]
              ResultPath: null
              Next: setAlbumCounters
            setAlbumCounters:
              Type: Task
              Resource:
                Fn::GetAtt: [SetCounters,Arn]
              ResultPath: null
              End: true

      listCollections-All:
        Type: Map
        ItemsPath: $.results.collections
        ResultPath: null
        Parameters:
          albumId.$: $$.Map.Item.Value
          bucket.$: $.bucket
          domain.$: $.domain
          photoTable.$: $.photoTable
          albumTable.$: $.albumTable
          encryptionKey.$: $.encryptionKey
        Next: photoToS3-All

        Iterator:
          StartAt: getCollection
          States:
            getCollection:
              Type: Task
              Resource:
                Fn::GetAtt: [ListPhotos,Arn]
              ResultPath: "$.results"
              Next: setCollectionCovers
            setCollectionCovers:
              Type: Task
              Resource:
                Fn::GetAtt: [SetCovers,Arn]
              ResultPath: null
              Next: setCollectionCounters
            setCollectionCounters:
              Type: Task
              Resource:
                Fn::GetAtt: [SetCounters,Arn]
              ResultPath: null
              End: true

      photoToS3-All:
        Type: Map
        ItemsPath: $.results.albums
        ResultPath: null
        Parameters:
          albumId.$: $$.Map.Item.Value
          bucket.$: $.bucket
          domain.$: $.domain
          owner.$: $.owner
        MaxConcurrency: 5
        End: true
      
        Iterator:
          StartAt: photoToS3
          States:
            photoToS3:
              Type: Task
              Resource:
                Fn::GetAtt: [PhotoToS3,Arn]
              End: true
